.outerClass-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.form-class-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.signup-btn {
    height: 30px;
    background-color: transparent ;
    padding: 5px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}
.link-signup {
    cursor: pointer;
}
.each-box-margin{
    margin: 10px;
    height: 30px;
    width: 300px;
}

.error-message {
    margin: 50px;
    color: red;
    font-weight: bold;
    font-size: larger
}