/*navigation design*/
.navbar-main-container{
    height: 50px;
    background-color: rgba(64, 64, 64, 0.04);
    padding: 10px 20px;

}
/*navigation main elements of flexbox*/
.nav-outer-box {
display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.left{
    flex: 1;
    list-style: none;
}

.middle{
    list-style: none;
    margin-left: 5px;
}
.center{
    flex: 1;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    list-style: none;
    cursor: pointer;
}

/*.search-container{*/
/*    border: 0.5px solid darkgray;*/

/*    margin-left: 25px;*/


/*}*/
/*.search-container-flex{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*justify-content: space-between;*/
/*    !*align-items: center;*!*/
/*}*/
.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.menu-right{
    margin-left: 125px;
}